@import "reset";
@import "variables/global";
@import "themes/normal";

.app {
    background: var(--bg-color);
    min-height: 100vh;
    display: flex;
}

.content-page {
    position: relative;
    width: 100%;
}

.page-wrapper {
    padding-top: var(--navbar-height);
    padding-left: 36px;
    padding-right: 36px;
}
