@import "reset";
@import "variables/global";
@import "themes/normal";

.app {
    background: var(--bg-color);
    min-height: 100vh;
    display: flex;
}

.content-page {
    position: relative;
    flex-grow: 1;
}

.page-wrapper {
    padding-top: var(--navbar-height);
    padding-left: 36px;
    padding-right: 36px;
}

.noScroll {
    overflow: hidden;
}

.productCarousel .swiper-pagination-bullet {
    background-color: transparent;
    border: 1px solid var(--color-dark-gray);
    opacity: 1;
    height: 18px;
    width: 18px;
}

.productCarousel .swiper-pagination-bullet-active {
    border: 1px solid var(--color-accent);
    background-color: var(--color-accent);
}
