.wrapper {
    background: var(--color-black);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;

    &.colorInverted {
        background: var(--color-banner-bg);
    }
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 0 30px;
    z-index: 1;

    & > button {
        margin: 0 auto;
    }

    .title {
        margin-bottom: 12px;
    }

    .description {
        height: 74px;
        margin-bottom: 24px;
    }

    .btnView {
        max-width: 260px;
        align-self: center;
    }
}

.img {
    margin-top: auto;
    object-fit: contain;
    width: 100%;
    height: 100%;
    object-position: right;
    position: absolute;
    bottom: 0;
    z-index: 0;
    right: 0;
}

.main {
    .img {
        max-height: 50%;
        filter: brightness(80%);
    }
}

.top {
    .img {
        max-height: 40%;
    }
}

@media (min-width: 300px) and (max-width: 440px) {
    .content {
        padding-top: 25px;
        margin-bottom: 120px;

        .description {
            max-width: 500px;
            margin-bottom: 70px;
        }
    }
}

@media (min-width: 250px) and (max-width: 641px) {
    .top {
        .img {
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

@media (min-width: 641px) {
    .wrapper {
        flex-direction: row;
    }

    .img {
        top: auto;
        bottom: auto;
        right: 0;
        max-height: 100%;
    }

    .main {
        .img {
            filter: brightness(100%);
            max-height: 55%;
            right: 0;
        }
    }

    .top {
        .img {
            max-height: 100%;
            max-width: 50%;
        }
    }

    .content {
        margin-left: 15px;
        text-align: start;
        display: block;
        padding: 0;
        height: auto;
        max-width: 400px;

        .description {
            display: block;
            margin-bottom: 36px;
        }
    }
}

@media (min-width: 641px) and (max-width: 805px) {
    .content {
        .description {
            max-width: 300px;
        }

        .title {
            max-width: 350px;
        }
    }
}

@media (min-width: 990px) {
    .img {
        max-width: 70%;
    }

    .top {
        .img {
            min-height: 90%;
            max-height: 80%;
            margin-right: 80px;
        }
    }

    .content {
        margin-left: 47px;
        max-width: 450px;
    }

    .main {
        .content {
            margin-left: 80px;
        }

        .img {
            max-height: none;
        }
    }
}

@media (min-width: 1200px) and (max-width: 1300px) {
    .content {
        .description {
            max-width: 350px;
        }

        .title {
            max-width: 350px;
        }
    }
}
