.wrapper {
    background: var(--color-black);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.content {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 47px 15px 0;
    height: 100%;
    z-index: 1;

    .title {
        margin-bottom: 12px;
    }

    .description {
        margin-bottom: 24px;
    }
}

.img {
    margin-top: auto;
    object-fit: contain;
    max-width: 100%;
    max-height: 50%;
    position: absolute;
    bottom: 0;
    z-index: 0;
}

.main {
    .img {
        max-height: 30%;
    }
}

@media (min-width: 481px) {
    .content {
        padding-left: 30px;
        padding-right: 30px;
    }

    .main {
        .img {
            max-height: 35%;
        }
    }
}

@media (min-width: 641px) {
    .wrapper {
        flex-direction: row;
        padding: 47px 0;
    }

    .img {
        top: auto;
        bottom: auto;
        right: 0;
        max-height: 100%;
    }

    .main {
        .img {
            max-height: 100%;
        }
    }

    .content {
        margin-left: 15px;
        text-align: start;
        display: block;
        padding: 0;
        height: auto;
        max-width: 300px;

        .description {
            display: block;
            margin-bottom: 36px;
        }

        .btn {
            height: 48px;
            padding-top: 0 !important;
            padding-bottom: 0 !important;
        }
    }
}

@media (min-width: 891px) {
    .img {
        max-width: 50%;
    }

    .content {
        margin-left: 47px;
        max-width: 450px;
    }

    .main {
        .content {
            margin-left: 80px;
        }
    }
}
