.wrapper {
    background: var(--color-black);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;

    &.colorInverted {
        background: var(--color-banner-bg);
    }
}

.content {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 47px 15px 0;
    height: 100%;
    margin: 50px;
    z-index: 1;

    .title {
        margin-bottom: 12px;
    }

    .description {
        margin-bottom: 24px;
    }
}

.img {
    margin-top: auto;
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    bottom: 0;
    z-index: 0;
    right: 0;
}

.main {
    .img {
        max-height: 50%;
        filter: brightness(80%);
        left: auto;
        right: auto;
    }
}

.top {
    .img {
        max-height: 40%;
        margin: 0 auto;
    }
}

@media (min-width: 641px) {
    .wrapper {
        flex-direction: row;
        padding: 47px 0;
    }

    .img {
        top: auto;
        bottom: auto;
        right: 0;
        max-height: 100%;
    }

    .main {
        .img {
            filter: brightness(100%);
            max-height: 100%;
            margin-right: 30px;
            right: 0;
        }
    }

    .top {
        .img {
            max-height: 100%;
            max-width: 50%;
        }
    }

    .content {
        margin-left: 15px;
        text-align: start;
        display: block;
        padding: 0;
        height: auto;
        max-width: 300px;

        .description {
            display: block;
            margin-bottom: 36px;
        }
    }
}

@media (min-width: 825px) {
    .img {
        max-width: 70%;
    }

    .top {
        .img {
            max-height: 80%;
            margin-right: 80px;
        }
    }

    .content {
        margin-left: 47px;
        max-width: 450px;
    }

    .main {
        .content {
            margin-left: 80px;
        }
    }
}
