:root {
    // Colors
    --header-color: #0c1f31;
    --text-color: #657380;
    --styling-color: #f82929;
    --main-bg-color: #e0e0e0;

    // Fonts
    --global-font-family: "HelveticaNeueCyr";
    --global-font-weight: 400;

    --big-header-size: 36px; // H1
    --big-header-height: 42px;
    --medium-header-size: 28px; // H2
    --medium-header-height: 34px;
    --small-header-size: 24px; // H3
    --small-header-height: 30px;
    --text-size: 16px; // p
    --text-height: 24px;
}
