:root {
    --global-font-family: "Arimo", sans-serif;
    --global-font-weight: 400;
    --font-size-h1: 36px;
    --font-size-h2: 28px;
    --font-size-h3: 24px;
    --font-size-h4: 20px;
    --font-size-base: 16px;
    --font-size-small: 14px;
    --font-size-extra-small: 12px;
    --modal-z-index: 10;
    --navbar-height: 64px;
    --color-modal-overlay: rgba(12 31 49 / 49%);
    --color-error: #f82929;
    --sidebar-width: 312px;
}

@media (min-width: 769px) {
    :root {
        --navbar-height: 86px;
    }
}

body {
    font-family: var(--global-font-family);
}
