.container {
    width: 100%;
    height: 382px;
    border: 1px solid var(--color-light-gray);
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: var(--color-white);

    &:hover {
        box-shadow: 0 0 10px 0 rgba(0 0 0 / 20%);
    }
}

.header {
    position: relative;
    width: 100%;
    padding: 23px 20px;
    flex-grow: 1;
    border-bottom: 1px solid var(--color-light-gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button {
    position: absolute;
    left: 20px;
    top: 23px;
}

.image {
    width: 100%;
}

.footer {
    width: 100%;
    padding: 23px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include typography-size-base;
}
/* stylelint-disable */
.footerDescription {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
/* stylelint-enable */

.footerPrice {
    @include typography-bold;
}
