.container {
    padding: 32px;
}

.logo {
    margin-bottom: 24px;
}

.searchbar {
    margin-bottom: 40px;
}

.navlist {
    display: flex;
    flex-direction: column;

    a {
        margin-bottom: 24px;
    }

    a:last-child {
        margin-bottom: 0;
    }

    margin-bottom: 60px;
}

@media (min-width: 769px) {
    .searchbar {
        display: none;
    }

    .wrapper {
        div {
            left: var(--sidebar-width) !important;
        }
    }
}

@media (min-width: 1300px) {
    .wrapper {
        display: none;
    }
}
