.container {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.icon {
    fill: var(--color-dark-gray);
    margin-right: 16px;
    margin-bottom: 3px;

    &:hover {
        fill: var(--color-accent);
    }
}
