.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 100px;
    user-select: none;

    & > :nth-child(2) {
        margin: 0 10px;
    }
}

.icon {
    fill: var(--color-dark-gray);
    cursor: pointer;

    &:hover {
        fill: var(--color-accent);
    }
}
