.sliderWrapper {
    > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 30px;
    }
}

.wrapper {
    > div {
        > div {
            background: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            padding: 65px;
        }
    }
}

.shoppingBag {
    fill: var(--color-accent);
    margin-bottom: 26px;
}

.title {
    margin-bottom: 12px;
}
