.Modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    pointer-events: none;
    z-index: -1;
    color: var(--color-base);
    transition: 0.3s all ease;
    border: 1px solid red;
}

.overlay {
    width: 100%;
    height: 100%;
    background: var(--color-modal-overlay);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s all ease;
    cursor: pointer;
}

.content {
    padding: 20px;
    border-radius: 12px;
    background: var(--color-bg);
    transition: 0.3s all ease;
    max-width: 60%;
}

.isOpen {
    pointer-events: auto;
    z-index: var(--modal-z-index);
    transition: 0.3s all ease;
}

.isOpening {
}

.isClosing {
}
