.footer {
    display: flex;
    justify-content: center;
    column-gap: 120px;
}

.logotext {
    color: var(--color-dark-gray);
    font-size: (--font-size-base);
    margin-top: 35px;
    line-height: 28px;
}

.text {
    color: var(--color-dark-gray);
    font-size: var(--font-size-base);

    p {
        margin-bottom: 12px;
    }
}

.title {
    color: var(--color-base);
    margin-bottom: 24px;
}
