.footer {
    margin-left: 10px;
    display: flex;
    justify-content: center;
    column-gap: 5%;
}

.logo {
    display: block;
    margin-top: 0;
    margin-bottom: 10px;
}

.logotext {
    color: var(--color-dark-gray);
    font-size: (--font-size-base);
    margin-top: 10px;
    line-height: 28px;
}

.text {
    color: var(--color-dark-gray);
    font-size: var(--font-size-base);

    .content {
        margin-bottom: 12px;
    }
}

.title {
    color: var(--color-base);
    margin-bottom: 24px;
}

.icons {
    display: inline-flex;

    .visaIcon {
        max-width: 50%;
        padding: 0;
        margin: 0;
    }

    .masterCardIcon {
        padding: 0;
        margin: 0;
    }
}

@media screen and (max-width: 1785px) {
    .icons {
        display: inline-flexbox;
    }
}

@media screen and (max-width: 1400px) {
    .footer {
        column-gap: 2%;
    }
}

@media screen and (max-width: 985px) {
    .footer {
        display: grid;
        grid-template-columns: (1, 1fr);
    }
}

/*         display: grid;
        grid-template-areas:
            "main main main"
            "links contacts schedule"; */

/*
@media screen and (max-width: 1575px) {
    .footer {
        column-gap: 80px;
    }
}

@media screen and (max-width: 1475px) {
    .footer {
        column-gap: 70px;
    }
}
 */
