.button {
    cursor: pointer;
    font-size: var(--font-size-base);
    border-radius: 100px;

    &.outline {
        border: 1px solid var(--color-dark-gray);
        color: var(--color-dark-gray);
        background: var(--color-white);

        &:hover {
            background: var(--color-accent);
            color: var(--color-white);
            border-color: var(--color-accent);
        }
    }

    &.filled-red {
        border: unset;
        background: var(--color-accent);
        color: var(--color-white);

        &:hover {
            filter: brightness(90%);
        }
    }

    &.filled-grey {
        border: unset;
        background: var(--color-dark-gray);
        color: var(--color-white);

        &:hover {
            filter: brightness(90%);
        }
    }

    &.large {
        padding: 16px 72px;
        line-height: 24px;
    }

    &.small {
        padding: 4px 18px;
        line-height: 20px;
    }

    &.disabled {
        opacity: 0.5;

        &:hover {
            filter: unset;
        }
    }
}
