.button {
    cursor: pointer;
    font-size: var(--font-size-base);
    border-radius: 6px;
    padding: 0 72px;
    height: 40px;

    &.outlined {
        border: 2px solid var(--color-accent);
        color: var(--color-accent);
        background-color: transparent;

        &:hover {
            background: var(--color-accent);
            color: var(--color-white);
            border-color: var(--color-accent);
        }
    }

    &.filled {
        border: unset;
        background: var(--color-accent);
        color: var(--color-white);

        &:hover {
            filter: brightness(90%);
        }
    }

    /*  &.filled-accent {
        border: unset;
        background: var(--color-accent);
        color: var(--color-white);

        &:hover {
            filter: brightness(90%);
        }
    }

    &.filled-gray {
        border: unset;
        background: var(--color-dark-gray);
        color: var(--color-white);

        &:hover {
            filter: brightness(90%);
        }
    } */

    &.disabled {
        opacity: 0.5;
        pointer-events: none;
    }

    &.clear {
        border: 0;
        color: var(--color-white);
        padding: 0;
        background: none;
    }
}
