.button {
    cursor: pointer;
    font-size: var(--font-size-base);
    border-radius: 100px;
    padding: 0 72px;
    height: 48px;

    &.outline {
        border: 1px solid var(--color-dark-gray);
        color: var(--color-dark-gray);
        background: var(--color-white);

        &:hover {
            background: var(--color-accent);
            color: var(--color-white);
            border-color: var(--color-accent);
        }
    }

    &.filled-red {
        border: unset;
        background: var(--color-accent);
        color: var(--color-white);

        &:hover {
            filter: brightness(90%);
        }
    }

    &.filled-grey {
        border: unset;
        background: var(--color-dark-gray);
        color: var(--color-white);

        &:hover {
            filter: brightness(90%);
        }
    }

    &.disabled {
        opacity: 0.5;

        &:hover {
            filter: unset;
        }
    }

    &.clearInverted {
        border: 0;
        color: var(--color-white);
        padding: 0;
        background: none;
    }
}
