.countdown {
    margin: 0 auto;
    border-radius: 6px;
    background: var(--color-accent);
    padding: 4px 10px;
    font-size: var(--font-size-h3);
    color: var(--color-white);
    letter-spacing: 0.2px;
}
