.wrapper {
    background-color: rgba(0 0 0 / 0%);
    transition: background-color 0.25s ease;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    z-index: 3;
}

.container {
    position: fixed;
    background-color: white;
    transition: transform 0.25s ease;
}

.right {
    .container {
        top: 0;
        right: 0;
        bottom: 0;
        min-width: 35vw;
        max-width: fit-content;
        padding: 24px;
        transform: translateX(100%);
    }
}

.top {
    .container {
        top: var(--navbar-height);
        left: 0;
        right: 0;
        height: fit-content;
        max-height: 80vh;
        width: 100%;
        padding: 24px;
        transform: translateY(-100%);
    }
}

.right.open {
    &.wrapper {
        background-color: var(--color-modal-overlay);
        pointer-events: auto;
    }

    .container {
        transform: translateX(0);
    }
}

.top.open {
    &.wrapper {
        background-color: var(--color-modal-overlay);
        pointer-events: auto;
    }

    .container {
        transform: translateY(0);
    }
}
