.subMenu {
    display: none;
}

.link {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    position: relative;

    &:last-child {
        margin-bottom: 10;
    }

    .icon {
        fill: var(--color-dark-gray);
        margin-right: 12px;
    }

    .subMenu {
        display: flex;
        flex-direction: column;
        padding: 42px 24px;
        min-width: 200px;
        width: fit-content;
        height: fit-content;
        background: var(--color-white);
        position: absolute;
        z-index: 10;
        top: 0;
        left: calc(100% + 37px);
        color: var(--color-base);
        cursor: auto;

        a {
            display: block;
            margin-bottom: 20px;
            color: var(--color-base);
            width: fit-content;

            &:last-child {
                margin-bottom: 0;
            }

            &:hover {
                color: var(--color-accent);
            }
        }
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: var(--sidebar-width);
    right: 0;
    bottom: 0;
    z-index: 6;
    background: var(--color-modal-overlay);
    opacity: 0;
    transition: opacity 0.3s ease;

    &.overlayOn {
        opacity: 1;
    }
}
