.slideContainer {
    padding: 0 10px;
}

.title {
	@include typographySizeH1;
	margin-bottom: 27px;
	text-align: center;
}

.button__bar {
    display: inline-block;
    text-align: center;
    margin-top: 32px;
    width: 100%;

    & li {
		list-style: none;
		cursor: pointer;
		display: inline-block;
		margin: 0 10px;
		padding: 0;

		& button {
			border: none;
			background: var(--color-white);
			color: transparent;
			cursor: pointer;
			display: block;
			height: 18px;
			width: 18px;
			border-radius: 50%;
			border: 1px solid var(--color-dark-gray);
		}
    }
}


.button__bar :global(li.slick-active) button {
    border: 1px solid var(--color-accent);
    background-color: var(--color-accent);
}

.maxWidth1200 {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}

