.container {
    display: grid;
    grid-template:
        "img delete" 70px
        "info ." auto
        "counter ." auto / calc(100% - 20px) 20px;
    border-bottom: 1px solid var(--color-light-gray);
    align-items: center;
    margin-bottom: 10px;

    &:last-child {
        border-bottom: 0;
        margin-bottom: 0;
    }
}

.img {
    grid-area: img;
    max-height: 100%;
    object-fit: contain;
}

.info {
    width: 80%;
    grid-area: info;
    display: flex;
    flex-direction: column;
    margin: 12px 0;

    :first-child {
        /* stylelint-disable-next-line value-no-vendor-prefix */
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 8px;
    }
}

.counter {
    width: 100%;
    grid-area: counter;
    margin-bottom: 25px;
    display: flex;
}

@media (min-width: 500px) {
    .container {
        grid-template: "img info counter delete" auto / 120px 180px 1fr 1fr;
        column-gap: 20px;
        align-items: center;
        justify-items: center;
        height: 150px;
        margin-bottom: 0;
    }

    .info {
        *:first-child {
            margin-bottom: 0;
        }
    }

    .counter {
        justify-content: center;
        margin-bottom: 0;
    }
}

@media (min-width: 600px) {
    .container {
        grid-template: "img info counter delete" auto / 120px 250px 1fr 1fr;
        padding: 10px 5px;
    }
}
