.button {
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: var(--z-fixed);
    width: 50px;
    height: 50px;
    outline: 0;
    border: 0;
    cursor: pointer;
    border-radius: 50%;
    padding: 5px;
    background-color: var(--color-light-gray);
    transition: background-color 0.3s ease;

    svg {
        path {
            fill: var(--color-dark-gray);
        }
    }

    svg:hover {
        path {
            fill: var(--color-accent);
        }
    }
}

@media (min-width: 960px) {
    .button {
        position: fixed;
        right: 100px;
        bottom: 100px;
    }
}
