.wrapper {
    height: max-content;
    margin: 0 -36px 20px;
}

.banner {
    height: 100%;
    padding-bottom: 35%;
}

@media (min-width: 641px) {
    .wrapper {
        height: 457px;
        width: 100%;
        margin-left: 0;
        transform: none;
    }

    .banner {
        height: 100%;
        padding-bottom: 0;
    }
}
