.wrapper {
    height: max-content;
    margin: 0 -36px 81px;
    position: relative;
    overflow: hidden;
}

.banner {
    height: 100%;
    padding-bottom: 35%;

    img {
        align-self: flex-end;
    }
}

@media (min-width: 641px) {
    .wrapper {
        height: 457px;
        width: 100%;
        margin: 0 0 81px;
    }

    .banner {
        height: 100%;
        padding-bottom: 0;
    }
}

.pagination {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;

    .bullet {
        border: 1px solid var(--color-white);
        border-radius: 50%;
        width: 17px;
        height: 17px;
        cursor: pointer;

        &.active {
            border: 0;
            background: var(--color-accent);
        }
    }
}

@media (min-width: 641px) {
    .pagination {
        position: absolute;
        bottom: auto;
        left: auto;
        right: 30px;
        top: 50%;
        transform: translateY(-50%);
        flex-direction: column;

        .bullet {
            border: 1px solid var(--color-dark-gray);
        }
    }
}
