.container {
    min-width: 300px;
    height: 300px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: var(--color-white);
}

.header {
    position: relative;
    width: 100%;
    height: 70%;
    flex-grow: 1;
    border-bottom: 1px solid var(--color-light-gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    margin-bottom: 20px;
}

.footer {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .price {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
