.modal {
    > div {
        padding: 32px;
    }
}

.btn {
    width: 100%;
}

.sidebarWrapper {
    display: none;
}

@media (min-width: 1200px) {
    .sidebarWrapper {
        display: block;
        flex-shrink: 0;
        width: var(--sidebar-width);
        margin-top: calc(0px - var(--navbar-height));
        padding-bottom: 50px;
    }

    .container {
        position: sticky;
        top: 0;
        margin-right: 36px;
        margin-left: -36px;
        padding: 26px 36px 42px;
        border-right: 1px solid var(--color-light-gray);
        border-bottom: 1px solid var(--color-light-gray);
        z-index: var(--z-content);
    }

    .modal {
        display: none;
    }

    .logo {
        margin-bottom: 54px;
    }
}
