.modal {
    > div {
        padding: 32px;
    }
}

.btn {
    width: 100%;
}

@media (min-width: 1200px) {
    .sidebarWrapper {
        width: var(--sidebar-width);
        margin-top: calc(0px - var(--navbar-height));
        padding: 42px 36px 42px 0;
        min-height: 200vh;
    }

    .container {
        position: sticky;
        top: 0;
    }

    .modal {
        display: none;
    }

    .logo {
        margin-bottom: 24px;
    }
}
