.modal {
    > div {
        padding: 32px;
    }
}

.btn {
    width: 100%;
}

@media (min-width: 1200px) {
    .sidebarWrapper {
        position: fixed;
        top: 0;
        left: 0;
        padding-top: 30px;

        > div:first-child {
            min-height: fit-content;
        }
    }

    .modal {
        display: none;
    }
}
