.container {
    position: relative;
    display: flex;
    height: 46px;
    flex-shrink: 0;
}

.searchbar {
    width: 100%;
    max-width: 100%;
    padding: 0;

    input {
        background-color: #f7f7f7;
        padding-left: 40px;
        z-index: 2;
    }
}

.icon {
    position: absolute;
    z-index: 3;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    fill: var(--color-dark-gray);
}

.cross {
    position: absolute;
    z-index: 3;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    fill: var(--color-dark-gray);
    border-radius: 50px;

    &:hover {
        > :first-child {
            fill: var(--color-accent);
        }
    }
}

.active {
    fill: var(--color-accent);
}
