.red {
    path {
        fill: var(--color-accent);
    }
}

.gray {
    path {
        fill: var(--color-dark-gray);
    }

    &:hover {
        path {
            fill: var(--color-accent);
        }
    }
}
