.slideTop {
    display: block;
}

.slideRight {
    display: none;
}

@media (min-width: 769px) {
    .slideTop {
        display: none;
    }

    .slideRight {
        display: block;
        z-index: 5;
    }
}

.slideTopContainer {
    min-height: 236px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cross {
    cursor: pointer;
}
