.wrapper {
    z-index: 5;
}

.container {
    min-height: 236px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    ::-webkit-scrollbar {
        cursor: grab !important;
        width: 5px;
        margin-right: 2px;
        background-color: transparent;
    }

    ::-webkit-scrollbar-thumb {
        cursor: grab !important;
        background-color: var(--color-dark-gray);
        border-radius: 10px;
        border-right: 3px solid white;
        background-clip: padding-box;
    }
}

.slideRightHeader {
    display: none;
}

@include tablet {
    .container {
        align-items: stretch;
        height: 100%;
        position: relative;

        .slideRightHeader {
            display: block;
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid var(--color-light-gray);
            padding: 24px;

            .cross {
                cursor: pointer;
            }
        }
    }
}
