.variantH1 {
    font-size: 36px;
    font-weight: 400;
    color: black;
}

.variantH2 {
    font-size: 28px;
    font-weight: 400;
    color: black;
}

.variantH3 {
    font-size: 24px;
    font-weight: 400;
    color: black;
}

.variantP {
    font-size: 16px;
    font-weight: 400;
    color: gray;
}
