.variantH1 {
    font-size: var(--font-size-h1);
    color: var(--color-base);
}

.variantH2 {
    font-size: var(--font-size-h2);
    color: var(--color-base);
}

.variantH3 {
    font-size: var(--font-size-h3);
    color: var(--color-base);
}

.variantP {
    font-size: var(--font-size-base);
    color: var(--color-dark-gray);
}
