.container {
    width: 100%;
    min-width: 200px;
    max-width: 300px;
    height: 382px;
    border: 1px solid var(--color-light-gray);
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: var(--color-white);

    &:hover {
        box-shadow: 0 0 10px 0 rgba(0 0 0 / 20%);
    }
}

.header {
    position: relative;
    width: 100%;
    flex-grow: 1;
    border-bottom: 1px solid var(--color-light-gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.label {
    position: absolute;
    left: 20px;
    top: 23px;
}

.footer {
    width: 100%;
    padding: 23px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .price {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
