.wrapper {
    display: none;
}

@media (min-width: 1200px) {
    .wrapper {
        width: 100%;
        max-width: var(--sidebar-width);
        padding: 42px 36px;
        display: block;
        border-right: 1px solid var(--color-light-gray);
        flex-shrink: 0;
    }

    .container {
        position: fixed;
        width: 238px;
        z-index: 10;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        min-height: calc(100vh - 84px);

        & > div:first-child {
            margin-bottom: 50px;
        }

        & > div:last-child {
            margin-top: auto;
        }
    }
}
