:root {
    --color-white: #fff;
    --color-black: #000;
    --color-banner-bg: linear-gradient(180deg, #f0f0f0 0%, #c5c5c5 100%);
    --color-accent: #f82929;
    --color-bg: #e5e5e5;
    --color-base: #0c1f31;
    --color-dark-gray: #657380;
    --color-light-gray: #e0e0e0;
}
