:root {
    --color-white: #fff;
    --color-accent: #f82929;
    --color-bg: #e5e5e5;
    --color-base: #0c1f31;
    --color-dark-gray: #657380;
    --color-light-gray: #e0e0e0;
    --color-white: #fff;
}
