@include desktop {
    .list {
        display: flex;
        align-items: center;
        margin-right: 44px;

        .link {
            margin-right: 40px;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            &.active {
                color: var(--color-accent);
            }
        }

        .link:last-child {
            margin-right: 0;
        }
    }
}
