.text {
    color: var(--color-dark-gray);
    font-size: var(--font-size-base);

    .content {
        margin-bottom: 12px;
    }
}

.title {
    color: var(--color-base);
    margin-bottom: 24px;
}
