.title {
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    color: var(--color-base);
    font-weight: 700;

    .icon {
        fill: var(--color-dark-gray);
        margin-right: 10px;
    }
}

.listContainer {
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 40px;

    .list {
        width: 100%;
        min-height: 250px;
        display: flex;
        flex-direction: column;

        & a {
            min-height: 20%;
            text-align: center;
        }

        .image {
            width: 100%;
            height: 100%;
            margin-bottom: 10px;
        }
    }
}

@media (min-width: 481px) {
    .listContainer {
        column-gap: 20px;
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 769px) {
    .listContainer {
        row-gap: 40px;
        grid-template-columns: repeat(4, minmax(100px, 200px));
    }
}
