.container {
    margin-top: auto;
    padding: 0 32px 32px;
    width: 100%;
    border-top: 1px solid var(--color-light-gray);
}

.info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    justify-content: space-between;
    align-items: center;
    row-gap: 32px;
    padding: 32px 0;

    > *:last-child {
        justify-self: end;
    }
}

.totalPrice,
.totalProducts {
    font-size: var(--font-size-h4);
}

.buttons {
    width: 100%;
    display: flex;
    flex-direction: column;

    button {
        width: 100%;
        height: 48px;
        padding: 0 !important;
        margin-bottom: 12px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

@media (min-width: 320px) {
    .totalPrice {
        white-space: nowrap;
        justify-self: end;
    }
}

@media (min-width: 481px) {
    .buttons {
        flex-direction: row;

        button {
            margin-right: 24px;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

@media (min-width: 769px) {
    .totalPrice,
    .totalProducts {
        font-size: var(--font-size-h3);
    }

    .buttons {
        flex-direction: row;

        button {
            margin-right: 24px;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

@media (min-width: 901px) {
    .vertical {
        width: 100%;
        max-width: 444px;
        border: 1px solid var(--color-light-gray) !important;

        .info {
            grid-template-columns: 1fr;

            > * {
                justify-self: center;
            }
        }

        .buttons {
            flex-direction: column;
        }
    }
}
