.container {
    width: 200px;
    height: 1000px;
    position: relative;
    background-image: url(../../const/phoneSingle1.jpg);
    background-repeat: none;
    background-color: blue;
}

.img {
    object-fit: cover;
    width: 100%;
    background-image: url(../../const/phoneSingle1.jpg);
}

.cta {
    position: absolute;
    bottom: 30px;
    right: 30px;
}
