.delete {
    grid-area: delete;
    fill: var(--color-dark-gray);
    align-self: center;
    cursor: pointer;

    &:hover {
        fill: var(--color-accent);
    }
}

.modal {
    z-index: 100;
}

.modalContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 250px;
    height: 100px;

    .cross {
        position: absolute;
        right: -15px;
        top: -15px;
        width: 25px;
        cursor: pointer;
    }

    .title {
        margin-bottom: 20px;
    }

    .buttons {
        display: flex;
        gap: 10px;

        button {
            width: fit-content;
            padding: 0 20px;
            height: 30px;
        }

        .btnCancel {
            border: 0;
            background: none;
            color: var(--color-dark-gray);
            cursor: pointer;

            &:hover {
                color: var(--color-accent);
            }
        }
    }
}
