.radio-group {
  border: unset;
}

.horizontal {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.vertical {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.legend {
  margin-bottom: 24px;
}

.required {
  color: var(--color-accent);
}
