.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--color-bg);
    z-index: var(--modal-z-index);
    height: var(--navbar-height);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 24px;
}

.container {
    height: 100%;
    width: 100%;
    color: var(--color-dark-gray);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "headerLeft basket";
    align-items: center;
}

.search {
    grid-area: search;
    display: none;
}

.navlist {
    grid-area: navlist;
    display: none;
}

.headerLeft {
    grid-area: headerLeft;
    display: flex;
    align-items: center;
}

.logo {
    grid-area: logo;
    display: none;
}

@media (min-width: 769px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-areas: "search headerLeft basket";
        z-index: 3;
    }

    .search {
        grid-area: search;
        max-width: 444px;
        width: 100%;
        display: flex;
    }
}

@media (min-width: 1281px) {
    .wrapper {
        left: var(--sidebar-width);
    }

    .container {
        grid-template-areas: "search navlist basket";
        z-index: 3;
    }

    .search {
        max-width: 444px;
        width: 100%;
        display: flex;
    }

    .navlist {
        display: flex;
    }

    .headerLeft {
        display: none;
    }
}

.main {
    left: 0;
    background-color: var(--color-header);

    @media (min-width: 1281px) {
        & .container {
            grid-template-columns: min-content 1fr;
            grid-template-areas: "logo search navlist basket";
            margin: 0 auto;
            max-width: 1800px;
        }

        .search {
            max-width: 100%;
        }

        .logo {
            display: flex;
            margin-right: 20px;
        }
    }
}
