/* stylelint-disable no-descending-specificity */
.modal {
    & > div > div {
        background-color: white;
        position: absolute;
        padding: 10px 5px;
        border-radius: 5px 0 0 5px;

        .modalContainer {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            overflow-y: scroll;

            &::-webkit-scrollbar {
                width: 3px;
                background-color: var(--color-light-gray);
                border-radius: 10px;
            }

            &::-webkit-scrollbar-thumb {
                background-color: var(--color-dark-gray);
                border-radius: 10px;
                background-clip: padding-box;
            }
        }
    }

    .modalLinkContainer {
        padding: 10px 0 10px 5px;

        img {
            width: 25px;
            fill: var(--color-dark-gray);
            margin-right: 5px;
        }

        &:hover {
            background-color: var(--color-accent);
            border-radius: 5px 0 0 5px;

            a {
                text-decoration: none;
                color: var(--color-white);
            }

            img {
                fill: var(--color-white);
            }
        }

        .modalLink {
            display: flex;
            align-items: center;
            font-size: 14px;
        }
    }
}

.subMenuModal {
    & > div {
        background-color: white;
        position: absolute;
        display: flex;
        border-radius: 0 5px 5px 0;
        min-width: 300px;
        padding: 10px 5px 10px 10px;

        .subMenuModalContainer {
            padding: 15px 10px;
            width: 100%;
            overflow-y: scroll;

            &::-webkit-scrollbar {
                width: 3px;
                background-color: var(--color-light-gray);
                border-radius: 5px;
            }

            &::-webkit-scrollbar-thumb {
                background-color: var(--color-dark-gray);
                border-radius: 10px;
                background-clip: padding-box;
            }

            .subMenu {
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 100%;

                a {
                    width: fit-content;
                    font-size: 14px;
                    margin-bottom: 10px;
                }

                a:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}

.wrapper {
    position: relative;
    display: flex;
    width: 100%;
    height: 500px;

    .container {
        position: relative;
        width: 100%;
        height: 100%;
        padding: 10px 0 40px 5px;
        display: flex;
        flex-direction: column;
        background-color: var(--color-white);
        overflow: hidden;
        z-index: 4;

        .linkContainer {
            padding: 10px 0 10px 5px;

            & img {
                width: 25px;
                fill: var(--color-dark-gray);
                margin-right: 5px;
            }

            .link {
                display: flex;
                align-items: center;
                font-size: 14px;
            }

            &:hover {
                background-color: var(--color-accent);
                border-radius: 5px 0 0 5px;
            }
        }
    }
}
