.wrapper {
    position: relative;
    width: 100%;
    min-height: 100%;

    .container {
        position: relative;
        width: 100%;
        max-width: 1200px;
        height: 100%;
        padding: 40px 0 40px 5px;
        display: flex;
        flex-direction: column;
        background-color: var(--color-white);
        z-index: 4;

        .linkContainer {
            padding: 10px 0 15px 5px;

            & img {
                width: 25px;
            }

            &:hover {
                background-color: whitesmoke;
                border-radius: 5px 0 0 5px;
            }
        }
    }

    .link {
        display: flex;
        align-items: center;
        font-size: 14px;

        .icon {
            fill: var(--color-dark-gray);
            margin-right: 12px;
        }
    }
}

.modal {
    width: 100%;

    & > div:last-child > div:first-child {
        padding: 0;
        border-radius: 0;
        background-color: transparent;
        position: absolute;
    }

    .modalLink {
        display: flex;
        align-items: center;
        font-size: 14px;

        .icon {
            fill: var(--color-dark-gray);
            margin-right: 12px;
        }
    }

    .subMenu {
        position: absolute;
        top: 2px;
        right: -400%;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        width: 100%;
        min-width: 1000px;
        padding: 45px 24px;
        height: 100%;
        background: var(--color-white);
        color: var(--color-base);
        cursor: auto;
        border: 1px solid red;

        &::-webkit-scrollbar {
            width: 5px;
            background-color: transparent;
            border-radius: 5px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: var(--color-dark-gray);
            border-radius: 10px;
            background-clip: padding-box;
        }

        & a {
            display: block;
            color: var(--color-base);
            padding: 10px 0;
            font-size: 14px;
            width: fit-content;

            &:hover {
                color: var(--color-accent);
            }
        }
    }

    .modalContainer {
        padding: 40px 0 40px 5px;
        display: flex;
        flex-direction: column;
        background-color: var(--color-white);
        z-index: 4;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            width: 5px;
            background-color: transparent;
            border-radius: 5px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: var(--color-dark-gray);
            border-radius: 10px;
            background-clip: padding-box;
        }

        .modalLinkContainer {
            padding: 10px 0 15px 5px;
            display: flex;
            align-items: center;

            & img {
                width: 25px;
            }

            &:hover {
                background-color: whitesmoke;
                border-radius: 5px 0 0 5px;
            }
        }
    }
}
