.title {
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    color: var(--color-base);
    font-weight: 700;

    .icon {
        fill: var(--color-dark-gray);
        margin-right: 10px;
    }
}

.list {
    display: flex;
    flex-direction: column;

    a {
        margin-bottom: 12px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}
