.container {
    width: 100%;
    display: grid;
    grid-template-rows: 572px 272px 272px;
    grid-template-areas: "first" "second" "third";
    row-gap: 23px;

    div:nth-child(1) {
        grid-area: first;
    }

    div:nth-child(2) {
        grid-area: second;
    }

    div:nth-child(3) {
        grid-area: third;
    }
}

@media (min-width: 891px) {
    .container {
        grid-template:
            "first first" 457px
            "second third" 217px / 1fr 1fr;
        column-gap: 23px;
    }
}

@media (min-width: 1601px) {
    .container {
        grid-template:
            "first second" 217px
            "first third" 217px / 2fr 1fr;
        column-gap: 23px;
    }
}
