.container {
    width: 100%;
    margin-bottom: 81px;
}

.title {
    @include typography-size-h1;

    margin-bottom: 27px;
    text-align: center;
}

.maxWidth1200 {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
