.container {
    max-width: calc(100vw - 114px);
}

.swiper {
    padding-bottom: 40px;

    .product {
        margin: 0 auto;
    }
}

.title {
    @include typography-size-h1;

    margin-bottom: 27px;
    text-align: center;
}
