.container {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.icon {
    margin-right: 16px;
    margin-bottom: 3px;

    &.normal {
        fill: var(--color-dark-gray);
    }

    &.inverted {
        fill: var(--color-white);
    }

    &:hover {
        fill: var(--color-accent);
    }
}
