.container {
    width: 100%;
    min-width: 200px;
    max-width: 300px;
    height: 382px;
    border: 1px solid var(--color-light-gray);
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: var(--color-white);
    z-index: var(--z-content);

    &:hover {
        box-shadow: 0 0 10px 0 rgba(0 0 0 / 20%);
    }

    .imageContainer {
        position: relative;
        width: 100%;
        height: 60%;
        flex-grow: 1;
        border-bottom: 1px solid var(--color-light-gray);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .labelContainer {
            position: absolute;
            left: 10px;
            top: 10px;
            display: flex;
            column-gap: 5px;
            z-index: calc(var(--z-content) + 1);
        }

        .image {
            width: 100%;
            height: 100%;
        }
    }

    .descriptionContainer {
        width: 100%;
        height: 40%;
        padding: 15px 10px;
        display: flex;
        flex-direction: column;
        position: relative;
        gap: 5px;

        .name {
            /* stylelint-disable-next-line value-no-vendor-prefix */
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
            text-overflow: ellipsis;
            height: 38px;
        }

        .priceContainer {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            max-width: 80%;
            row-gap: 3px;
            margin-top: auto;

            .price {
                padding-bottom: 10px;
            }

            .priceDiscount {
                margin-right: 10px;
            }

            .newPrice {
                width: 100%;
            }
        }
    }
}
