.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .emptyBasketText {
        margin-bottom: 20px;
    }

    .btn {
        height: 48px;
        padding-top: 0;
        padding-bottom: 0;
    }
}
