.checkboxWrapper {
    display: flex;
    align-items: center;
}

.label {
    color: var(--color-dark-gray);
    cursor: pointer;
}

.checkbox {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid var(--color-dark-gray);
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    margin-right: 14px;
    flex-shrink: 0;
}

.checkboxTick {
    position: absolute;
}

.checkboxInput {
    cursor: pointer;
    position: absolute;
    z-index: 2;
    opacity: 0;
}

.checked .checkbox {
    border-color: var(--color-accent);

    .checkboxTick::after {
        border: 2px solid var(--color-accent);
        border-top: none;
        border-right: none;
        content: "";
        height: 4px;
        left: 3px;
        top: 5px;
        opacity: 1;
        position: absolute;
        transform: rotate(-45deg);
        width: 8px;
    }
}
